registry=https://registry.npmjs.org/
"@netless:registry" "https://packages.aliyun.com/68cbe28edec569489f6d65a5/npm/veytu/"
"@wukong:registry" "https://packages.aliyun.com/68cbe28edec569489f6d65a5/npm/veytu/"
"@types:registry" "https://registry.npmjs.org/"
"video.js:registry" "https://registry.npmjs.org/"
"html2canvas:registry" "https://registry.npmjs.org/"
"jspdf:registry" "https://registry.npmjs.org/"
"react:registry" "https://registry.npmjs.org/"
"react-dom:registry" "https://registry.npmjs.org/"
"buffer:registry" "https://registry.npmjs.org/"
"core-js:registry" "https://registry.npmjs.org/"
"minimatch:registry" "https://registry.npmjs.org/"
"promise.any:registry" "https://registry.npmjs.org/"
"whatwg-fetch:registry" "https://registry.npmjs.org/"
"white-web-sdk:registry" "https://registry.npmjs.org/"
