.telebox-titlebar-btns{
    display:none !important;
}
.telebox-footer-wrap{
    display: none !important;
}
.plyr__control[data-plyr="play"]{
    display: none !important;
}
.telebox-max-titlebar{
    display: none !important;
}